body{
	background-color: Gainsboro;
}

#header{
	height: 75px;
	background-color: DarkGray;
	margin: 0px 0px 0px 0px;
	position: relative;
}

#banner{
	font-size: 20px;
	font-family: Courier New;
	position: absolute;
	left: 115px;
	top: -5px;
}

.tab{
	border: solid Gainsboro 1px;
	height: 25px;
	width: 55px;
	padding: 5px;
	position: absolute;
	top: 30px;
}

.tabHover{
	border: solid dimgray 1px;
}

.tabActive{
	border: solid dimgray 1px;
	background-color: dimgray;
}

#tabProof{
	position: absolute;
	left: 600px;
}

#tabDilute{
	position: absolute;
	left: 680px;
}

#tabConvert{
	position: absolute;
	left: 760px;
}

.tabTitle{
	margin: auto;
	font-family: Georgia;
	font-size: 14px;
	position: absolute;
}

#calc{
	border-radius: 10px;
	background-color: PaleGreen;
	position: absolute;
	left: 50px;
	top: 110px;
}

table{
	border: 1px solid black;
	border-radius: 5px;
	font-family: Helvetica;
	font-size: 12px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.tTop{
	padding: 7px;
}

td{
	height: 25px;
	width: 110px
}

input{
	width: 100px;
	box-sizing: border-box;
	text-align: right;
}

.inMing{
	width: 44px;
	text-align: right;
}

button{
	border-radius: 5px;
	float: right;
	margin: 5px;
}

button:hover{
	background: LightGray;
}

.out{
	font-family: Courier;
	font-size: 12px;
	color: blue;
	text-align: center;
}

div div div{
	display: inline-block;
	vertical-align: top;
}


#interpolation{
	border: 0px;
	border-collapse: collapse;
}

.tdInt{
	border: 1px solid black;
	height: 25px;
	width: 54px;
	text-align: center;
}

#ming{

}

.trMing td{
	border:;
	height: 25px;
	width: 52px;
}

.errors{
	color: red;
	font-family: Courier;
	font-size: 12px;
}

#about{
	width: 325px;
	font-family: Georgia;
	font-size: 14px;
	line-height: 1.5em;
	position: absolute;
	left: 605px;
	top: 95px;
	overflow: auto;
}
